
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.action-btn {
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  background: linear-gradient(153deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 100%);
  backdrop-filter: blur(12px) brightness(1.2); /* Enhanced blur and brightness */
  -webkit-backdrop-filter: blur(12px) brightness(0.2); /* For Safari support */
  margin-top: 40px;
  border-radius: 16px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2); /* Soft shadow */
  text-decoration: none;
  width: 300px;

  /* Adding grainy effect with background-image */
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.15) 1%, rgba(0, 0, 0, 0.02) 100%);
  background-blend-mode: overlay; /* Blend the gradient with the grain effect */

}

.action-btn:hover {
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.action-btn:active {
  transform: translateY(2px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}
