
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.action-btn {
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  background-color: #bb86fc;
  margin-top: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0px 8px 15px rgba(132, 131, 131, 0.3);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.action-btn:hover {
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.action-btn:active {
  transform: translateY(2px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}
