

 .header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

/* .title {
  } */

  .month {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    padding: 10px 0;
/*     z-index: 1000;
 */    font-size: 1.5rem;
    font-weight: bold;
    /*   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    */ }

    .price-container {
    font-size: 1.2em;
    color: aliceblue;
}

.expense-lists {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}

.expense-info {
  background-color: #424242;
  padding: 16px;
}
.list {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.list span {
  margin-right: 10px;
  color: green;
}

.list p {
  margin: 0;
}

.no-expenses-message {
  text-align: center;
  font-size: 1em;
  color: #666;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.delete-button,
.add-expense-button {
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.delete-button:hover,
.add-expense-button:hover {
  background-color: #0056b3;
}

.button-container {
  display: flex;
  gap: 10px; /* Add space between buttons */
  justify-content: center;
  margin-top: 10px;
}


.add-expense-button {
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.9em;
}

.edit-button:hover {
  background-color: #0056b3;
}

.delete-button:hover {
  background-color: #d9534f;
}

.add-expense-button:hover {
  background-color: #0056b3;
}

.budget-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #0056b3;
  border-radius: 4px;

}
.submit-expense-btn-primary {
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  background-color: #bb86fc;
  margin-top: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0px 8px 15px rgba(132, 131, 131, 0.3);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
._404-text {
  margin-top: 1.25em; /* Adjust as needed */
  width: 100%;
  text-align: center;
  font-size: 1.6rem; /* Base font size */
  font-weight: 200;
  letter-spacing: 0.5rem; /* Adjust spacing */
  color: #ffffff; /* Text color */
  text-shadow: 0px 0.125em 0.25em rgba(0, 0, 0, 0.5); /* Proportional shadow */
  font-family: 'Orbitron', sans-serif;
  position: relative; /* Required for pseudo-elements */
  z-index: 1000;

  &:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0.125em; /* Adjust for a slight offset */
    color: #193e41;
    text-shadow: -0.0625em 0 #0ff; /* Proportional shadow */
    clip: rect(0, 100em, 0, 0); /* Proportional clipping */
    animation: glitch-1 1s linear alternate-reverse infinite;
  }

  &:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: -0.125em; /* Adjust for a slight offset */
    color: darken(#01A8FF, 33%);
    text-shadow: 0.1875em 0 #FF28D7; /* Proportional shadow */
    clip: rect(0, 100em, 0, 0); /* Proportional clipping */
    animation: glitch-2 0.6s linear alternate-reverse infinite 0.2s;
  }
}

/* Glitch 1 animation */
@keyframes glitch-1 {
  0% {
    clip: rect(2em, 100em, 3.5em, 0); /* Proportional to font size */
  }
  15% {
    clip: rect(6em, 100em, 6.05em, 0);
  }
  50% {
    clip: rect(4.5em, 100em, 4.8em, 0);
  }
  75% {
    clip: rect(6em, 100em, 8em, 0);
  }
  87% {
    clip: rect(3.5em, 100em, 5em, 0);
  }
  100% {
    clip: rect(6em, 100em, 6em, 0);
  }
}

/* Glitch 2 animation */
@keyframes glitch-2 {
  0% {
    clip: rect(1em, 100em, 4em, 0); /* Proportional to font size */
  }
  15% {
    clip: rect(5em, 100em, 5.25em, 0);
  }
  50% {
    clip: rect(5em, 100em, 4.75em, 0);
  }
  75% {
    clip: rect(3em, 100em, 3em, 0);
  }
  87% {
    clip: rect(7.25em, 100em, 8em, 0);
  }
  100% {
    clip: rect(9.25em, 100em, 9.25em, 0);
  }
}
