// Specific CSS for your home-page

.broke {
  background-color: red;
}

body {
  background: linear-gradient(138deg, #b00101 13.42%, #0f2776 60.01%, #cd0303 90.49%);

}


a, h1, h2, h3, p, label, #text {
  color: white;
  font: robo
}
.hustler-banner {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 200;
  letter-spacing: 0.5rem;
  color: #ffffff; /* Text color */
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  font-family: 'Orbitron';
}
.hustler-banner {
  animation: fadeIn 2s ease-in-out;
}

.hustler-banner a {
  text-decoration: none !important;
  color: inherit;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-container {
  display: flex;
  flex-direction: column;  // Stack the content vertically
  align-items: center;
  justify-content: center;

  .chart {
    /* Styles for the chart */
    width: 100%; // Or any width you want for the chart
  }

  .buttons {
    /* Styles for buttons */
    width: 100%; // Or any specific width
    margin-top: 20px;
    text-align: center;  // Add some spacing if needed
  }

  turbo-frame {
    /* Position Turbo Frame beneath the buttons */
    margin-top: 20px;  // Adjust as needed to add spacing
    width: 100%;  // Ensure Turbo Frame takes the full width (if needed)
  }



}

.budget-btn {
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  background: linear-gradient(153deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 100%);
  backdrop-filter: blur(12px) brightness(0.2);
   /*-webkit-backdrop-filter: blur(12px) brightness(0.2); /* For Safari support */
   margin-top: 40px;
  border-radius: 16px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  width: 300px;

  background-blend-mode: overlay;
  margin-left: 9%;

}


.budget-btn:hover {
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.budget-btn:active {
  transform: translateY(2px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}
