<div class="container h-100" >
  <h1>BUDGET INDEX</h1>
  <div class="show">
    <% @budgets.each do |budget| %>
    <%= link_to budget_path(budget) do %>
      <%# if statement to check if budget at zero %>

      <%# else statement for icon if not zero %>
      <div class="index-btn">
      <div class="">MONTH: <%= budget.month.capitalize %></div>
      <div class="">INITIAL BUDGET: <%= budget.total_amount %></div>
      </div>
    </div>
    <% end %>
  <% end %>
  </div>
</div>
