<div class="pack-container">
  <h1>Monthly Budget</h1>
  <div class="expense-lists">
    <% @budgets.each do |budget| %>
    <div class="expense-info">
      <div class="budget-month"><%= budget.month %></div>
      <div class="budget-amount"><%= budget.total_amount %></div>
    </div>
  <% end %>
  </div>
</div>
