<div class="container">
  <div class="chart">
   <p>BUDGET:<%= @budget.total_amount - @budget.total_expenses %></p>
<h1>Budget for <%= @budget.month %></h1>
  </div>
  <div class="action-div">
   <div class="action-btn">
    <%= link_to "ACTIONS", actions_path %>
   </div>
  </div>
</div>
