<div class="container">
  <div class="actions">
    <div class="btn">
      <%= link_to "ADD AN EXPENSE",  %>
    </div>
    <div class="btn">
      <%= link_to "TRACK YOUR EXPENSES",  %>
    </div>
    <div class="btn">
      <%= link_to "VIEW BUDGET PLAN",  %>
    </div>
  </div>
</div>
