<h1>Pages#home</h1>
<div class="container">
  <div class="chart">
  
  </div>
  <div class="action-div">
   <div class="action-btn">
    <%= link_to "ACTIONS", actions_path %>
   </div>
  </div>
</div>
