body{
  background-color: aquamarine ;
  margin:0;
  padding:0;
}

.container{
  max-width: 80px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
}

h1{
  text-align: center;
}

.budget-list{
  margin-top: 10px;
}

.budget-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px
}
.budget-month{
  font-size: 8px;
}
.budget-amount{
  font-size: 8px;
}
