.goal-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 300px;

  p,
  h2,
  h1 {
    margin: 0.5em 0; // Optional for better spacing
  }

  h1.target-progress {
    font-size: 2em; // Twice as big
  }
}
.page-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
