<%= turbo_frame_tag :expenses do %>
<h1>EXPENSE DETAILS</h1>
<p><strong>AMOUNT:</strong> <%= @expense.amount %></p>
<p><strong>DESCRIPTION:</strong> <%= @expense.description %></p>
<p><strong>HUSTLER AI:</strong> <%= @ai_feedback %></p>
<% end  %>
